body{
	font-family: 'Coming Soon', cursive;
	font-family: 'Amaranth', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	cursor: default;
}
#container{
	margin-top: -8px;
	background-image: url("images/table.jpg");
	background-size: 100%;
	padding-bottom: 450px;
	background-color: #ccc;
}
header{
	color: black;
	border: 2px solid black;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
	background-color: #F0F0F5;
	opacity: 0.6;
	height: 230px;
    width: 325px;
    margin-left: 50px;
    margin-bottom: 100px;
}
.menu{
	margin-top: -20px;
}
span {
	font-size: .5em;
}
h1{
	text-align: left;
	padding-left: 25px;
}
ul{
	margin-top: -20px;
}
li {
	float: left;
	display: block;
	color: black;
	padding-right: 30px;
	padding-top: -15px;
}
.who{
	font-size: .75em;
	display: none;
}
.why{
	font-size: .75em;
	display: none;
}
.button{
	background-color: #ff0000;
	height: 25px;
	width: 18%;
	margin-top: 130px;
	margin-left: 44%;
	padding: 20px 2px 20px 2px;
}
.new{
	background-color: #ff0000;
	border-style: double;
	color: black;
	font-size: 1.25em;
	width: 90%;
	text-align: center;
	opacity: 0.8;
	margin-top: -14px;
	margin-left: 4%;
	padding: 5px 0px 5px 0px;
}
.columns {
	display: block;
}
.one{
	float: left;
	width: 20%;
	background-color: red;
	border: 1px solid black;
	color: white;
	padding: 10px 10px 10px 100px;
	margin: 10px 80px 0px 10px;
}
.two{
	float: none;
	width: 20%;
	background-color: red;
	border: 1px solid black;
	color: white;
	display: inline-block;
	padding: 10px 10px 10px 100px;
	margin: 10px 0px 0px 20px;
}
.three{
	float: right;
	width: 20%;	
	background-color: red;
	border: 1px solid black;
	color: white;
	padding: 10px 10px 10px 100px;
	margin: 10px 10px 0px 0px;
}
.footer{
	background-color: #000;
	border: 1px solid black;
	color: white;
	font-size: .8em;
	padding: 10px 50px 10px 50px;
	margin: 10px 0px 0px 0px;
}

/* Media queries */
@media screen and (max-device-width: 667px) {
	.who, .why {
		display: inline-block;
	}
}